<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name=checkList"viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index</title>
</head>

<body>
  <h1>Bonjour <%= UserOnline.pseudo %></h1>
  
  <h2>Voici les items d'Amazon que vous trackez : </h2>
  <ul>
    <% if (Items)
    {
      Items.forEach(function(data)
      { 
        if (data.title != null)
        { %><li style="font-size: 20px"><%
          if (data.prix.length == 1) 
          { %><span><a href="/delete/<%= data.id_item %>">✘</a> - <%= data.title %> → <a href="<%= data.url %>" onclick="window.open(this.href); return false;"><%= data.prix[data.prix.length-1] %> €</span></a><% } 
          else if (data.prix[data.prix.length-1] < data.prix[data.prix.length-2])
          { %><a href="/delete/<%= data.id_item %>">✘</a> - <%= data.title %> → <a href="<%= data.url %>" onclick="window.open(this.href); return false;"><span style="color: green"><%= data.prix[data.prix.length-1] %>€ &darr;</span></a><% } 
          else if (data.prix[data.prix.length-1] > data.prix[data.prix.length-2])
          { %><a href="/delete/<%= data.id_item %>">✘</a> - <%= data.title %> → <a href="<%= data.url %>" onclick="window.open(this.href); return false;"><span style="color: red"><%= data.prix[data.prix.length-1] %>€ &uarr;</span></a><% }
          %></%>
            </li>
          <%
        }
      });
    }%>
  </ul>

  <form method="post" action="/">
    <p>
      <label for="url_To_Track">Glisser l'url de l'item à tracker ! </label>
      <input type="text" name="url_To_Track" id="url_To_Track" placeholder="url..." size="50" autofocus required />
      <input type="submit" value="Tracker" />
    </p>
  </form>

  <form method="post" action="/logout">
    <button>Logout</button>
  </form>
</body>
</html>